/* styles.css */

body {
    background-image: url(fondopagina.jpg);/* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    background-position: center center; /* Centrar la imagen en el fondo */
}
/* Estilos para el primer encabezado */
header {
    display: flex; /* Usar flexbox para alinear elementos */
    background-color:whitesmoke;/* Color de fondo del encabezado */
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-around; /* Espaciar elementos horizontalmente */
    padding: 20px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación centrada del texto */

}
.logo {
    
    width: auto; /* Ancho máximo para evitar que se agrande demasiado */
    height: auto; /* Mantener proporción */

}

/* Estilos para el segundo encabezado con barra de navegación */

/* Estilos para el segundo encabezado con botones */
nav {
    background-color: #52d0eceb; /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    text-align: center; /* Alineación centrada de los enlaces */
}

nav ul {
    list-style: none; /* Eliminar el estilo de lista predeterminado */
    margin: 0; /* Márgenes exteriores en 0 */
    padding: 0; /* Espaciado interno en 0 */
}

nav li {
    display: inline-block; /* Mostrar los elementos de la lista en bloque */
    margin: 0 15px; /* Márgenes laterales entre los botones */
}
.button-link {
    display: inline-block; /* Mostrar los enlaces en bloque */
    color: #1a1212; /* Color del texto de los enlaces */
    background-color: #90caf9; /* Color de fondo del contenedor */
    background-color:white; /* Color de fondo de los enlaces */
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    padding: 10px 20px; /* Espaciado interno de los enlaces */
    border-radius: 5px; /* Bordes redondeados para los enlaces */
    transition: transform 0.3s, background-color 0.3s; /* Transición para el movimiento y color de fondo */
}

.button-link:hover {
    transform: translateY(-5px); /* Mover el enlace hacia arriba al pasar el cursor */
    background-color:white; /* Cambiar color de fondo al pasar el cursor */
}

/* Estilos para el formulario de inicio de sesión */

/* Estilos para CONTENEDOR DEL FORMULARIO*/
.form-content {
    max-width: 300px;
    padding: 10px; /* Espaciado interno del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 10px; /* Bordes redondeados del contenedor */
    background-color: #fff; /* Color de fondo del contenedor */
    margin: 0 auto; /* Alinear el contenedor al centro */
}
.login-container {
    max-width: 340px; /* Ancho máximo del CONTENEDOR DEL FORMULARIO */
    margin: 50px auto; /* Centramos el contenedor */
    padding: 10px; /* Espaciado interno del contenedor */
    background-color: #4dcae6f2; /* Color de fondo del contenedor */
    border:2px solid #bbc0c1d5; /* Borde del contenedor */
    border-radius: 10px; /* Bordes redondeados del contenedor */
    box-shadow: 0 2px 5px rgba(42, 47, 150, 0.1); /* Sombra para el contenedor */
}

.login-container form {
    display: flex; /* Usar flexbox para el formulario */
    flex-direction: column; /* Alinear los elementos en columna */
}

.login-container label {
    margin: 10px 0 5px; /* Márgenes para los labels */
    font-weight: bold; /* Texto en negrita para los labels */
}

.login-container input,
.login-container select {
    padding: 10px; /* Espaciado interno para los inputs y select */
    margin-bottom: 15px; /* Margen inferior para los inputs y select */
    border: 1.5px solid #bbc0c1d5; /* Borde para los inputs y select */
    border-radius: 15px; /* Bordes redondeados para los inputs y select */
}

.login-container button {
    display:inline-block;
    padding: 10px; /* Espaciado interno para el botón */
    color: #0b0a0a; /* Color del texto del botón */
    background-color: #4dcae6d5; 
    border: 1px solid black; /* Sin borde para el botón */
    border-radius: 15px; /* Bordes redondeados para el botón */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición para el color de fondo del botón */
    width: auto; /* Asegura que el ancho del botón sea automático */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
}

.login-container button:hover {
    background-color:white; /* Cambiar color de fondo al pasar el cursor sobre el botón */
}
.links-container {
    display: flex; /* Usar flexbox para alinear los enlaces */
    justify-content: center; /* Espaciar los enlaces */
    margin-top: 15px; /* Márgen superior */
}

.link {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #286bcf; /* Color de los enlaces */
    font-size: 13px; /* Tamaño de la fuente de los enlaces */
    transition: color 0.3s; /* Transición para el cambio de color */
}

.link:hover {
    color: #1f4fa6; /* Cambiar color al pasar el cursor */
}

/*ESTILOS PARA LOS ANUNCIOS*/

/* Estilos para el contenedor principal */
#contenedor-principal {
    padding: 20px; /* Espaciado interno del contenedor principal */
    border: 2px solid #ccc; /* Borde del contenedor principal */
    border-radius: 10px; /* Bordes redondeados del contenedor principal */
    background-color: white; /* Color de fondo del contenedor principal */
    text-align: center; /* Centrar el título dentro del contenedor principal */
}

/* Estilos para el contenedor flex */
#flex-container5 {
    display: flex; /* Usar flexbox para el contenedor */
    justify-content: space-around; /* Distribuir los elementos con espacio alrededor */
    padding: 10px; /* Espaciado interno del contenedor flex */
    border: 2px solid #999; /* Borde del contenedor flex */
    border-radius: 5px; /* Bordes redondeados del contenedor flex */
    background-color: whitesmoke; /* Color de fondo del contenedor flex */
}

#flex-container5 div {
    padding: 20px; /* Espaciado interno de cada div */
    border: 1px solid #666; /* Borde de cada div */
    border-radius: 5px; /* Bordes redondeados de cada div */
    background-color:rgba(255, 255, 255, 0.573); /* Color de fondo de cada div */
    text-align: justify; /* Alinear el texto al centro */
    flex: 1; /* Asegurar que los divs ocupen el mismo ancho */
    margin: 0 5px; /* Espacio entre cada div */
}

/* Estilos para las imágenes dentro de los anuncios */
.anuncio-imagen {
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    height: auto; /* Mantener proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados de la imagen */
    margin-bottom: 10px; /* Margen inferior para separar la imagen del texto */
}

/* Estilos para el texto dentro de los anuncios */
.anuncio-texto {
    font-size: 14px; /* Tamaño de la fuente del texto */
    color: #333; /* Color del texto */
}
/* Estilos para cambiar el cursor y el color al pasar el cursor por encima de cada contenedor */
#flex-container5 div {
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición para el cambio de color */
}

#flex-container5 div:hover {
    background-color: #c0c0c0; /* Cambiar el color de fondo al pasar el cursor */
}

/* Estilos para el pie de página */
/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos para el pie de página */
.footer {
    background:  #4dcae6e0; /* Color de fondo del pie de página */
    padding: 1em; /* Espaciado interno del pie de página */
    text-align: center; /* Alineación centrada del texto */
    margin-top: auto; /* Empujar el pie de página al final de la página */
    color: white; /* Color del texto */
    position: relative; /* Posición relativa para no cubrir el contenido */
    width: 100%; /* Ancho completo */
}

.social-icon {
    display: flex; /* Usar flexbox para la lista de iconos */
    justify-content: center; /* Alinear los iconos al centro */
    align-items: center; /* Alinear los iconos verticalmente */
    margin: 10px 0; /* Márgenes para la lista de iconos */
    flex-wrap: wrap; /* Permitir que los iconos se envuelvan */
}

.icon-elem {
    list-style: none; /* Eliminar el estilo de lista predeterminado */
}

.icon {
    color: rgb(68, 82, 243); /* Color de los iconos */
    font-size: 32px; /* Tamaño de los iconos */
    display: inline-block; /* Mostrar los iconos en línea */
    margin: 0 10px; /* Márgenes laterales entre los iconos */
    transition: 0.5s; /* Transición para el movimiento */
}

.icon:hover {
    transform: translateY(-10px); /* Mover el icono hacia arriba al pasar el cursor */
}

.menu {
    display: flex; /* Usar flexbox para la lista de menús */
    justify-content: center; /* Alinear los menús al centro */
    align-items: center; /* Alinear los menús verticalmente */
    margin: 10px 0; /* Márgenes para la lista de menús */
    flex-wrap: wrap; /* Permitir que los menús se envuelvan */
}

.menu-elem {
    list-style: none; /* Eliminar el estilo de lista predeterminado */
}

.menu-icon {
    color: rgb(68, 82, 243); /* Color del texto de los menús */
    font-size: 20px; /* Tamaño de la fuente de los menús */
    display: inline-block; /* Mostrar los menús en línea */
    text-decoration: none; /* Eliminar subrayado de los menús */
    margin: 0 10px; /* Márgenes laterales entre los menús */
    transition: 0.3s; /* Transición para el efecto */
    opacity: 0.8; /* Opacidad inicial */
}

.menu-icon:hover {
    opacity: 4; /* Cambiar opacidad al pasar el cursor */
}

.text {
    color: rgb(68, 82, 243) ; /* Color del texto */
    text-align: center; /* Alinear el texto al centro */
    margin-top: 15px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilos para la línea horizontal */
.linea-horizontal {
    border: 0;
    height: 2px; /* Espesor de la línea */
    background-color: #ccc; /* Color de la línea */
    margin-top: 20px; /* Margen superior */
}


/* Hacer que el diseño sea responsive */
/* Estilos para pantallas medianas y grandes (tabletas y ordenadores) */
@media (min-width: 768px) {
    .login-container {
        width: 400px;
        margin: 0 auto;
    }

    #flex-container5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #flex-container5 > div {
        width: 22%;
        margin-bottom: 20px;
    }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .login-container {
        width: 90%;
        margin: 0 auto;
    }

    #flex-container5 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #flex-container5 > div {
        width: 45%;
        margin-bottom: 20px;
    }
}
